# Configuración del Servidor
PORT=3000

# Base de Datos (MySQL - Hostinger)
DB_HOST=localhost
DB_USER=u123456789_usuario
DB_PASSWORD=tu_contraseña_db
DB_NAME=u123456789_nombre_db

# Configuración de Correo (SMTP Hostinger)
EMAIL_HOST=smtp.hostinger.com
EMAIL_PORT=465
EMAIL_USER=info@cosmostrak.com.py
EMAIL_PASS=tu_contraseña_aqui
EMAIL_TO=info@cosmostrak.com.py
