# Configuración del Servidor
PORT=3000

# Base de Datos (PostgreSQL - Neon/Render)
# Opción 1: URL de conexión completa (Recomendado para Neon/Render)
DATABASE_URL=postgres://usuario:password@ep-cold-ocean-123456.us-east-2.aws.neon.tech/neondb

# Opción 2: Variables individuales
PGHOST=ep-cold-ocean-123456.us-east-2.aws.neon.tech
PGUSER=usuario
PGPASSWORD=tu_contraseña_db
PGDATABASE=neondb
PGPORT=5432

# Configuración de Correo (SMTP Hostinger)
EMAIL_HOST=smtp.hostinger.com
EMAIL_PORT=465
EMAIL_USER=info@cosmostrak.com.py
EMAIL_PASS=tu_contraseña_aqui
EMAIL_TO=info@cosmostrak.com.py

# WhatsApp (CallMeBot)
WHATSAPP_PHONE_CLIENT=+595991776777
WHATSAPP_APIKEY_CLIENT=tu_apikey_aqui
WHATSAPP_PHONE_ADMIN=+595983755161
WHATSAPP_APIKEY_ADMIN=tu_apikey_aqui
