# Configuración del Servidor
PORT=3000

# Base de Datos (MySQL - Hostinger)
DB_HOST=localhost
DB_USER=u123456789_usuario
DB_PASSWORD=tu_contraseña_db
DB_NAME=u123456789_nombre_db

# Configuración de Correo (SMTP Hostinger)
EMAIL_HOST=smtp.hostinger.com
EMAIL_PORT=465
EMAIL_USER=info@cosmostrak.com.py
EMAIL_PASS=tu_contraseña_aqui
EMAIL_TO=info@cosmostrak.com.py

# WhatsApp (CallMeBot)
WHATSAPP_PHONE_CLIENT=+595991776777
WHATSAPP_APIKEY_CLIENT=tu_apikey_aqui
WHATSAPP_PHONE_ADMIN=+595983755161
WHATSAPP_APIKEY_ADMIN=tu_apikey_aqui
